.header, .sign-up, .footer {
    background-color: #202938;
    color: lightgrey;
}

.head-txt {
    font-weight: bold;
    font-size: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}

.placeholder {
    min-width: 200px;
    max-width: 200px;
    max-height: 100px;
    min-height: 100px;
    background: gray;
    margin-left: 64px;
}

.row-1 {
    display: flex;;
    background-color: #202938;
    padding: 40px 120px 40px 120px;
}

.row-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.row-3 {
    display: flex;
    flex-direction: column;
    background-color: #e6e7eb;
    padding-bottom: 64px;
}

.row-4 {
    padding: 64px;
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.random-sub {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;;
}

.blank-img {
    border-radius: 5px;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
    max-height: 120px;
}

.img-text {
    font-size: small;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.infocard {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120px;
}

.awesome {
    font-size: 2rem;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
}

.su-button-1 {
    background-color: #3b82f6;
    padding: 8px;
    border-radius: 12px;
    margin-top: 1rem;
}

.quote {
    font-style: italic;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 64px;
}

.author {
    font-weight: bold;
    padding-left: 150px;
    padding-right: 150px;
    text-align: end;
}

.blue-box {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    padding: 32px;
    color: white;
    border-radius: 10px;
}

.call-sub {
    font-weight: bolder;
    font-size: large;
}

.call-text {
    font-size: smaller;
    color: lightgrey;
}

.su-button-2 {
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    padding: 5px 25px;
}

.copyright {
    text-align: center;
    padding: 20px;
}

/* body {
    display: flex;
    flex-direction: column;
    flex: 1;
} */

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-width: 0.5px;
    border-style: dotted;
}